<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>
  <div class="box" id="heading">
    <h1>Today is <%= day %></h1>
  </div>
  <div class="box">
    <% for(let i = 0; i < hi.length; i++) { %>
      <div class="item">
        <input type="checkbox">
        <p><%= hi[i] %></p>
      </div>
      <% } %>
      <form action="/" method="post" class="item">
        <input type="text" name="input" placeholder="add" autocomplete="off">
        <button type="submit" name="submit">+</button>
      </form> 
  </div>
  


</body>
</html>